name: Build & Publish package

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install poetry
      run: pipx install poetry

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
        cache: "poetry"

    - name: Install dependencies
      run: poetry install

    - name: Build package
      run: poetry build

    - name: Publish package to PYPI
      env:
        PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
      run: poetry publish --username --password $PYPI_TOKEN
